#main_title {
  font-style: italic;
  color: red;
}

.title {
  text-align: center;
  font-style: bold;
  font-family: serif;

}

.subtitle {
  font-style: italic;
  color: grey;
  font-family: serif, times new roman;
	size:
}
